.background{
    -fx-background-color : #324D5C;
}

.image {
    -fx-background-size:  100%;
    -fx-background-repeat: stretch;
    -fx-background-position: center;
}

.microphone{
        -fx-background-image :  url("microphone.png");
}

.microphone:hover {
        -fx-background-image :  url("microphone_yellow.png");
}

.cc{
         -fx-background-image :  url("cc.png");
}

.cc:hover{
         -fx-background-image :  url("cc_yellow.png");
}

.info{
         -fx-background-image :  url("info.png");
}

.info:hover{
         -fx-background-image :  url("info_color.png");
}

.buttonnew{
       -fx-background-color :  white;
}

.buttonnew : hover{
       -fx-background-color : #F53855;
}
