/*所有按鈕圖案皆會套用此類別*/
.image {
    -fx-background-size:  100%;
    -fx-background-repeat: stretch;
    -fx-background-position: center;
}

/*整個背景顏色*/
.background{
  -fx-background-color: #455C7B ;
}


/***********************************************************分頁的CSS控制*****************************************************************/

/*分頁的顏色*/
.tab {
  -fx-background-color:#455C7B ;
  -fx-pref-width: 250;
  -fx-pref-height: 50;
}

/*分頁被選上背景顏色變化*/
.tab:selected {
    -fx-background-color:  #FFBC67;
}

.jfx-tab-pane .headers-region {
    -fx-cursor: HAND;
    -fx-background-color: #455C7B;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #455C7B;
 }

/*分頁選中時的底線顏色*/
.jfx-tab-pane .tab-selected-line {
    -fx-stroke-width: 50pt;
    -fx-background-color: #DA727E; /*控制選到的底線*/
}

/*ripple color*/
.jfx-tab-pane .tab-header-area .jfx-rippler{
    -jfx-rippler-fill:#DA727E;
}

/*控制選擇後字的顏色*/
.jfx-tab-pane .tab:selected .tab-label {
    -fx-text-fill:#455C7B;
}

/*控制字的大小*/
.jfx-tab-pane .tab-label {
    -fx-text-fill: #FFBC67;
    -fx-font-weight: bold;
    -fx-font-size: 25;
}
/**********************************************************************************************************************************************/

/*上傳圖形*/
.upload{
    -fx-background-image: url("../image/upload.png");
}

/*下載圖形*/
.download{
    -fx-background-image: url("../image/download.png");
}

.download:hover{
    -fx-background-image: url("../image/download_yellow.png");
}

/*下載字幕檔的按鈕樣式*/
.downloadSRT{
    -fx-background-image: url("../image/document.png");
}

.downloadSRT:hover{
    -fx-background-image: url("../image/document_yellow.png");
}

/*播放鍵的按鈕樣式*/
.play{
    -fx-background-radius : 500px;
    -fx-background-image: url("../image/play.png");
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.play:hover{
    -fx-background-radius : 500px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-image: url("../image/play_color.png");
}

/*ˋ暫停鍵的按鈕樣式*/
.pause{
    -fx-background-image: url("../image/pause.png");
}

.pause:hover{
    -fx-background-image: url("../image/pause_color.png");
}

/*關掉視窗的按鈕*/
.close{
        -fx-background-image :  url("../image/error.png");
}

.close:hover {
        -fx-background-image :  url("../image/error-color.png");
}

.jfx-button{
    -fx-font-size:20px;
    -fx-cursor: HAND;
}

/*瀏覽影片檔案的按鈕樣式*/
#BrowseFilesButton{
    -fx-font-size:30px;
    -fx-border-color: #AC6C82;
    -fx-border-width: 5px;
    -fx-border-radius: 10px;
    -fx-cursor: HAND;
}

#BrowseFilesButton:hover{
    -fx-background-color:#AC6C82;
    -fx-background-radius: 10px;
}

/*確定好格式文法正確的按鈕樣式*/
#confirm {
    -fx-border-color: #F2DEB3;
    -fx-border-radius: 10px;
    -fx-border-width: 5px;
    -fx-cursor: HAND;
}
#confirm:hover{
    -fx-background-color: #F2DEB3;
     -fx-background-radius: 10px;
    -fx-cursor: HAND;
}

/*檢查文法的按鈕樣式*/
#checkGrammer{
    -fx-border-color: #F2B8A2;
    -fx-border-radius: 10px;
    -fx-border-width: 5px;
    -fx-cursor: HAND;
}


#checkGrammer:hover{
    -fx-background-color: #F2B8A2;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-cursor: HAND;
}

/*載入歌詞檔的按鈕格式*/
#BrowseLyric{
    -fx-border-color: #F28C8C;
    -fx-border-radius: 10px;
    -fx-border-width: 5px;
    -fx-cursor: HAND;
}


#BrowseLyric:hover{
    -fx-background-color: #F28C8C;
    -fx-border-radius: 10px;
     -fx-background-radius: 10px;
    -fx-cursor: HAND;
}


/*登入按鈕格式*/
#login{
    -fx-font-size:20px;
    -fx-border-color: #F28C8C;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
    -fx-cursor: HAND;
}


#login:hover{
    -fx-background-color: #F28C8C;
    -fx-border-radius: 10px;
     -fx-background-radius: 10px;
    -fx-cursor: HAND;
}

/*重新啟動的按鈕格式*/
#Restart{
    -fx-font-size:20px;
    -fx-border-color: #84BFBF;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
    -fx-cursor: HAND;
}


#Restart:hover{
    -fx-background-color: #84BFBF;
    -fx-border-radius: 10px;
     -fx-background-radius: 10px;
    -fx-cursor: HAND;
}

/*下一頁的按鈕格式*/
#Next{
    -fx-font-size:20px;
    -fx-border-color: #84BFBF;
    -fx-border-radius: 10px;
    -fx-border-width: 5px;
    -fx-cursor: HAND;
}


#Next:hover{
    -fx-background-color: #84BFBF;
    -fx-border-radius: 10px;
     -fx-background-radius: 10px;
    -fx-cursor: HAND;
}

/*提示視窗的背景顏色*/
.alarm{
    -fx-background-color: #F2A7C3;
}

/*拉入後會產生虛線*/
.custom-dashed-border {
    -fx-border-color: white ;
    -fx-border-width: 5 ;
    -fx-border-style: segments(10, 15, 15, 15)  line-cap round ;
}

/*slider的圓形樣式*/
.jfx-slider {
    -jfx-default-thumb: #FFBC67;
    -jfx-default-track: #CCCCCC ; /*控制後半的顏色*/
}


.text-area   {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px;
    -fx-background-color: transparent;
}

.lyricUpload{
    -fx-background-image: url("../image/paste.png");
}

/*燈泡提示按鈕*/
.tip-bulb{
    -fx-background-image: url("../image/light-bulb.png");
}

.tip-bulb:hover{
    -fx-background-image: url("../image/light-bulb_color.png");
}

/*文字區塊的樣式*/
.jfx-text-area:focused,
.jfx-text-area:focused .scroll-pane{
    -fx-background-color: transparent ,transparent,transparent,transparent;
     /*#DA727E;*/
}

.jfx-text-area,
.jfx-text-area:focused {
    -fx-prompt-text-fill: #FFFFFF;
}

/*選擇模式的樣式*/
.chooseMode{
    -fx-cursor: HAND;
    -fx-background-color : F2DEB3;
    -fx-background-radius:10px;
}

.chooseMode:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0.4, 0, 0);
}

/*進度條樣式*/
.jfx-progress-bar > .bar,
.jfx-progress-bar:indeterminate > .bar{
    -fx-background-color: #F2A7C3;
    -fx-padding: 3.5;
}

.microphone{
        -fx-background-image :  url("../image/microphone_color.png");
}

.cc{
       -fx-background-image :  url("../image/cc_yellow.png");
}
