.image {
    -fx-background-size:  100%;
    -fx-background-repeat: stretch;
    -fx-background-position: center;
}


.background{
    -fx-background-radius : 50px;
    -fx-background-color :  linear-gradient(#434343  0%,  #000000 100%);
}

.subtitle{
    -fx-font-family : Arial;
    -fx-font-size : 40px;
    -fx-fill :  transparent ;
    -fx-font-weight : bolder ;
}

.light {
    -fx-fill : transparent ;
    -fx-stroke : transparent;
}

.movie{
        -fx-background-image :  url("video-camera.png");
}

.movie-hover{
        -fx-background-image :  url("video-camera-color.png");
}

.close{
        -fx-background-image :  url("error.png");
}

.close:hover {
        -fx-background-image :  url("error-color.png");
}

.alertBox{
       -fx-background-color :  linear-gradient(#09203f  0%, #537895 100%);
      /* -fx-hgap: 20px;*/
       -fx-border-width: 3px;
       -fx-border-color: black;
       -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.button{
       -fx-background-color :  white;
}

.button:hover{
       -fx-background-color :  linear-gradient(#B7F8DB 0%, #50A7C2 100%);
}
